annotated-types==0.7.0
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.5
numpy==2.0.2
opencv-python==4.13.0.92
packaging==26.0
pandas==2.3.3
pdfminer.six==20251107
pdfplumber==0.11.8
pillow==11.3.0
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
pypdf==6.7.1
pypdfium2==5.4.0
pytesseract==0.3.13
python-dateutil==2.9.0.post0
pytz==2025.2
RapidFuzz==3.13.0
regex==2026.1.15
six==1.17.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
